version: '3'
services:
    mariadb:
      container_name: mariadb
      image: mariadb:{{ COMPONENT_VERSION }}
      restart : always
      ports:
        - {{ COMPONENT_PORT }}:3306
      environment:
        MYSQL_USER: "{{ USER_ID }}"
        MYSQL_PASSWORD: "{{ USER_PASSWORD }}"
        MYSQL_ROOT_PASSWORD: "{{ ROOT_PASSWORD }}"
      command:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_unicode_ci
      volumes:
        - {{ DATA_PATH }}/:/var/lib/mysql